# Build directories
Debug/
Release/

# IDE metadata
.vs/
.vscode/

# Compiled objects and executables
*.obj
*.exe
*.out
*.dll
*.lib
*.so
textformatter   # compiled demo executable (Linux/WSL build)

# Debug files
*.pdb
*.idb

# User-specific files
*.user
*.suo